In [1]:
import numpy as np
import pandas  as pd

In [2]:
dataset = pd.read_csv('train.csv')

In [4]:
dataset.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [16]:
X = dataset.iloc[:,[1,2,4,5,6,7,9,10,11]].values
X

array([[0, 3, 'male', ..., 7.25, nan, 'S'],
       [1, 1, 'female', ..., 71.2833, 'C85', 'C'],
       [1, 3, 'female', ..., 7.925, nan, 'S'],
       ...,
       [0, 3, 'female', ..., 23.45, nan, 'S'],
       [1, 1, 'male', ..., 30.0, 'C148', 'C'],
       [0, 3, 'male', ..., 7.75, nan, 'Q']], dtype=object)

In [25]:
from sklearn.preprocessing import  LabelEncoder,OneHotEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

Renaming the NaN as 'missing'

In [48]:
X[:,8] =  ['missing' if x is np.nan else x for x in X[:,8]]

In [50]:
X = X[:,[0,1,2,3,4,5,6,8]]

In [52]:
Y = X[:,0]

In [56]:
X = X[:,[1,2,3,4,5,6,7]]

In [61]:
from sklearn.preprocessing import  LabelEncoder,OneHotEncoder
le = LabelEncoder()
X[:,6] = le.fit_transform(X[:,6])

In [88]:
df = pd.DataFrame(X)

Filling the missing  values  with the mean of the data

In [105]:
for i in range(df.shape[1]):
    df[i] = df[i].fillna(df[i].mean())

In [106]:
df.head(10)

   0  1          2  3  4        5  6
0  3  1  22.000000  1  0   7.2500  2
1  1  0  38.000000  1  0  71.2833  0
2  3  0  26.000000  0  0   7.9250  2
3  1  0  35.000000  1  0  53.1000  2
4  3  1  35.000000  0  0   8.0500  2
5  3  1  29.699118  0  0   8.4583  1
6  1  1  54.000000  0  0  51.8625  2
7  3  1   2.000000  3  1  21.0750  2
8  3  0  27.000000  0  2  11.1333  2
9  2  0  14.000000  1  0  30.0708  0

In [112]:
X = df.iloc[:].values

In [127]:
Y = Y.astype('int')

Splitting the dataset into train and test sets

In [128]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

Feature scaling

In [130]:
from sklearn.preprocessing import  StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

Applying the Random Forest Classification algorithm

In [158]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 64, criterion = 'entropy')
classifier.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=64, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [159]:
Y_pred = classifier.predict(X_test)

In [160]:
from sklearn.metrics import f1_score
f1 =f1_score(Y_test, Y_pred)
f1

0.7

# Applying the model to the test set

In [161]:
test_set = pd.read_csv('test.csv')

In [163]:
test_set.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [166]:
X2 = test_set.iloc[:,[1,3,4,5,6,8,10]]

In [172]:
X2 = X2.values

In [173]:
le = LabelEncoder()
X2[:,1] = le.fit_transform(X2[:,1])

In [176]:
X2[:,6] = le.fit_transform(X2[:,6])

In [180]:
test_set = pd.DataFrame(X2)

In [182]:
for i in range(test_set.shape[1]):
    test_set[i] = test_set[i].fillna(test_set[i].mean())

In [184]:
X2 = test_set.iloc[:].values

In [192]:
X2 = sc.fit_transform(X2)

In [194]:
answer = classifier.predict(X2)

In [197]:
id = []
survived = []
for i in range(892,1310):
    id.append(i)
    survived.append(answer[i-892])

In [209]:
fin_ans = list(zip(id,survived))

In [210]:
print(fin_ans)

[(892, 0), (893, 0), (894, 0), (895, 0), (896, 0), (897, 1), (898, 0), (899, 0), (900, 1), (901, 0), (902, 0), (903, 0), (904, 1), (905, 0), (906, 1), (907, 1), (908, 0), (909, 0), (910, 0), (911, 0), (912, 1), (913, 1), (914, 1), (915, 0), (916, 1), (917, 0), (918, 1), (919, 0), (920, 1), (921, 0), (922, 0), (923, 0), (924, 1), (925, 0), (926, 0), (927, 0), (928, 1), (929, 1), (930, 0), (931, 1), (932, 0), (933, 0), (934, 0), (935, 1), (936, 1), (937, 0), (938, 0), (939, 0), (940, 1), (941, 1), (942, 1), (943, 0), (944, 1), (945, 1), (946, 0), (947, 0), (948, 0), (949, 0), (950, 0), (951, 1), (952, 0), (953, 0), (954, 0), (955, 0), (956, 1), (957, 1), (958, 1), (959, 0), (960, 0), (961, 1), (962, 0), (963, 0), (964, 1), (965, 0), (966, 1), (967, 0), (968, 0), (969, 1), (970, 0), (971, 0), (972, 1), (973, 0), (974, 0), (975, 0), (976, 0), (977, 0), (978, 0), (979, 1), (980, 0), (981, 1), (982, 0), (983, 0), (984, 1), (985, 0), (986, 0), (987, 0), (988, 1), (989, 0), (990, 1), (991, 0), (992, 1), (993, 0), (994, 0), (995, 0), (996, 1), (997, 0), (998, 0), (999, 0), (1000, 0), (1001, 0), (1002, 0), (1003, 0), (1004, 1), (1005, 0), (1006, 1), (1007, 0), (1008, 0), (1009, 1), (1010, 0), (1011, 1), (1012, 1), (1013, 0), (1014, 1), (1015, 1), (1016, 0), (1017, 1), (1018, 0), (1019, 1), (1020, 0), (1021, 0), (1022, 0), (1023, 0), (1024, 0), (1025, 0), (1026, 0), (1027, 0), (1028, 0), (1029, 0), (1030, 1), (1031, 0), (1032, 0), (1033, 1), (1034, 0), (1035, 0), (1036, 0), (1037, 0), (1038, 0), (1039, 0), (1040, 0), (1041, 0), (1042, 1), (1043, 0), (1044, 0), (1045, 1), (1046, 0), (1047, 0), (1048, 1), (1049, 1), (1050, 0), (1051, 1), (1052, 0), (1053, 1), (1054, 1), (1055, 0), (1056, 0), (1057, 1), (1058, 0), (1059, 0), (1060, 1), (1061, 1), (1062, 0), (1063, 0), (1064, 0), (1065, 0), (1066, 0), (1067, 1), (1068, 1), (1069, 1), (1070, 1), (1071, 1), (1072, 0), (1073, 1), (1074, 1), (1075, 0), (1076, 1), (1077, 0), (1078, 1), (1079, 0), (1080, 0), (1081, 0), (1082, 0), (1083, 0), (1084, 1), (1085, 0), (1086, 1), (1087, 0), (1088, 1), (1089, 1), (1090, 0), (1091, 1), (1092, 1), (1093, 1), (1094, 0), (1095, 1), (1096, 0), (1097, 0), (1098, 0), (1099, 0), (1100, 1), (1101, 0), (1102, 0), (1103, 0), (1104, 0), (1105, 0), (1106, 0), (1107, 0), (1108, 0), (1109, 0), (1110, 1), (1111, 0), (1112, 1), (1113, 0), (1114, 1), (1115, 0), (1116, 1), (1117, 0), (1118, 0), (1119, 0), (1120, 0), (1121, 0), (1122, 0), (1123, 1), (1124, 0), (1125, 0), (1126, 0), (1127, 0), (1128, 0), (1129, 0), (1130, 1), (1131, 1), (1132, 1), (1133, 1), (1134, 1), (1135, 0), (1136, 0), (1137, 1), (1138, 1), (1139, 0), (1140, 1), (1141, 0), (1142, 1), (1143, 0), (1144, 0), (1145, 0), (1146, 0), (1147, 0), (1148, 0), (1149, 1), (1150, 1), (1151, 0), (1152, 0), (1153, 0), (1154, 1), (1155, 1), (1156, 0), (1157, 0), (1158, 0), (1159, 0), (1160, 1), (1161, 0), (1162, 0), (1163, 0), (1164, 1), (1165, 1), (1166, 0), (1167, 1), (1168, 0), (1169, 0), (1170, 0), (1171, 0), (1172, 1), (1173, 1), (1174, 0), (1175, 0), (1176, 1), (1177, 0), (1178, 0), (1179, 0), (1180, 0), (1181, 0), (1182, 0), (1183, 0), (1184, 0), (1185, 0), (1186, 0), (1187, 0), (1188, 1), (1189, 0), (1190, 0), (1191, 0), (1192, 0), (1193, 0), (1194, 0), (1195, 0), (1196, 0), (1197, 1), (1198, 1), (1199, 1), (1200, 0), (1201, 0), (1202, 0), (1203, 0), (1204, 0), (1205, 0), (1206, 1), (1207, 1), (1208, 0), (1209, 0), (1210, 1), (1211, 0), (1212, 0), (1213, 0), (1214, 0), (1215, 0), (1216, 1), (1217, 0), (1218, 1), (1219, 0), (1220, 0), (1221, 0), (1222, 1), (1223, 0), (1224, 0), (1225, 1), (1226, 1), (1227, 0), (1228, 0), (1229, 0), (1230, 0), (1231, 0), (1232, 0), (1233, 0), (1234, 0), (1235, 1), (1236, 0), (1237, 1), (1238, 0), (1239, 0), (1240, 0), (1241, 1), (1242, 1), (1243, 0), (1244, 0), (1245, 0), (1246, 1), (1247, 0), (1248, 1), (1249, 0), (1250, 0), (1251, 0), (1252, 0), (1253, 1), (1254, 1), (1255, 0), (1256, 1), (1257, 0), (1258, 0), (1259, 0), (1260, 1), (1261, 0), (1262, 0), (1263, 1), (1264, 0), (1265, 0), (1266, 1), (1267, 1), (1268, 1), (1269, 0), (1270, 0), (1271, 0), (1272, 0), (1273, 0), (1274, 1), (1275, 0), (1276, 0), (1277, 1), (1278, 0), (1279, 0), (1280, 0), (1281, 0), (1282, 0), (1283, 1), (1284, 0), (1285, 0), (1286, 0), (1287, 1), (1288, 0), (1289, 1), (1290, 0), (1291, 0), (1292, 1), (1293, 0), (1294, 1), (1295, 0), (1296, 0), (1297, 0), (1298, 0), (1299, 1), (1300, 0), (1301, 1), (1302, 0), (1303, 1), (1304, 1), (1305, 0), (1306, 1), (1307, 0), (1308, 0), (1309, 1)]

In [221]:
df3 = pd.DataFrame(fin_ans, columns = ('PassengerId','Survived'))

In [219]:
df3.to_csv("Sample.csv")